/* .header {
  background-color: #1e1e1e;
  color: white;
  padding: 1rem;
  text-align: center;
}

.header nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
} */
.header {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

.header nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.header nav a:hover {
  text-decoration: underline;
}
